<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8"/>
    
</head>
<body>	
			<!-- Corpo da Pagina -->
	    <section class="layout-content" layout:fragment="corpo">
	
				<!-- Sub Titulo -->
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Cargos</span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" th:href="@{/cargos/listar}" role="button">
	                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                <span>Listar Cargos</span>
	            </a>
	        </nav>
	
					<!-- Corpo da Pagina -->
	        <div class="container" id="cadastro">
	        
	        <!-- Fragmanto de Mensagens -->
			<div th:replace="fragmentos/alert"></div>
		
	            <form th:action="${cargo.id == null} ? @{/cargos/salvar} : @{/cargos/editar}" th:object="${cargo}" method="POST">
	                
	                <!-- Fragmanto de Validação dos Campos-->
				  <div th:replace="fragmentos/validacao :: validacao"></div>
	                
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome do Cargo</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Cargo" autofocus="autofocus"
	                               th:field="*{nome}"/>
	                    </div>
	                    
	                    <!-- Combo-Box de Departamentos -->
	                    <div class="form-group col-md-4">
	                        <label for="departamento">Departamento</label>
	                        <select id="departamento" class="form-control" th:field="*{departamentos}">
	                            <option value="">Selecione</option>
	                            
	                            <option th:each="d : ${departamentos}" 
	                            		th:value="${d.id}" th:text="${d.nome}"/> <!-- Faz um for na Variavel departamentos, trazendo os dados do BD -->                            
	                        </select>
	                    </div>
	                </div>
	                
	                <!-- Recebi o ID do Controller para realizar a opreção de edição -->
	                <input type="hidden" id="id" th:field="*{id}"/>
	                
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
	
</body>
</html>		